<html>
<head>
	<title>Game</title>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<h1><%= @player_1 %> vs. <%= @player_2 %></h1>
	<div class="player"><em><%= @player_1 %></em> 100HP</div>
	<div class="player"><em><%= @player_2 %></em> 100HP</div>
</body>
</html>