<html>
<head>
	<title>Battle Login</title>
	<link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<h1>Battle Arena</h1>
<form action='/names' method="post">
  <input type="text" name="player_1" placeholder="Player 1" required>
  <input type="text" name="player_2" placeholder="Player 2" required>
  <input type="submit" value="Submit">
</form>

</body>
</html>