body {
	font-family: Arial
}

.player{
	display: inline-block;
	width: 49%
}
 a {
 	text-decoration: none
}
h1, .player {
	text-align: center;
}
button{
	display: block;
	margin: auto;
}

.log{
	font-family: monospace;
}
h3{    margin-bottom: 0;
}
ul {
	list-style-type: none;   
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 10px;
}

li:before{
	    content: '>';
    margin-right: 10px;
    font-weight: 900;
}

li:nth-child(2n){
	background: #f3f3f3
}